main {
  width: 80vw;
}

#trabalho {
  display: flex;

  & header {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--corTerciaria);

    padding: 0.5vh var(--paddingHorizontal);

    position: absolute;

    & > div:first-of-type {
      color: var(--corTextoCabecalho);

      & > p:nth-child(2) {
        font-size: 120%;
      }

      & > p:first-of-type,
      > p:nth-child(3) {
        font-size: 90%;
      }
    }

    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;

      color: var(--corInfoUsuario);

      font-family: var(--fonteSecundaria);
      font-weight: 500;

      & > div:first-of-type {
        text-align: end;

        & > p:nth-child(2) {
          font-size: 85%;
        }
      }

      & > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    & img {
      width: 2.5vw;

      border-radius: 50%;

      position: relative;
    }

    #quantidadeNotificacao {
      position: relative;

      right: 0.6vw;
      top: -1vw;

      text-align: center;
      font-size: 80%;
      font-weight: bold;

      background-color: var(--corNotificacao);
      color: white;

      width: 1rem;
      border-radius: 50%;
    }
  }

  & section:first-of-type {
    margin-top: 5vh;
    padding: var(--paddingHorizontal);

    display: flex;
    justify-content: space-between;
  }
}

#principalInfoEsquerda {
  width: 70%;

  & > h2{
    font-size: 120%;

    margin-bottom: 2vh;
  }
}

#principalInfoDireita {
  width: 30%;
}
