<div id="trabalho">
  <app-menu-lateral></app-menu-lateral>
  <main>
    <header>
      <div>
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
        <p>ISSN: 1234-5678</p>
      </div>
      <div>
        <select name="idioma" id="idioma">
          <option value="1">PT, BR</option>
          <option value="2">EN, US</option>
        </select>
      </div>
      <div>
        <div>
          <p>Bem-vindo!</p>
          <p>gabrielsoares.pe.br@gmail.com</p>
        </div>
        <div>
          <img
            src="/assets/image/gabrielSoares.jpg"
            alt="Foto de Gabriel Soares"
          />
          <p id="quantidadeNotificacao">3</p>
        </div>
      </div>
    </header>
    <section>
      <div id="principalInfoEsquerda">
        <h2>
          Análise sensorial de preparações funcionais desenvolvidas para
          escolares entre 09 e 15 anos, do município de Campinas/SP
        </h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/U8iXC1pjnAw?si=FLYb43yzkLIsyc4j"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div id="principalInfoDireita">
        <ul>
          <li><button class="botao">Download</button></li>
          <li><button class="botao">Estrela</button></li>
          <li><button class="botao">doi</button></li>
        </ul>
        <p>Como citar esse trabalho?</p>
        <div id="detalhes">
          <p>Detalhes</p>
          <div>
            <p>Tipo de Apresentação: <span class="negrito">Pôster</span></p>
            <p>
              Eixo temático:
              <span class="negrito">Alimentação e saúde (AS) </span>
            </p>
            <p>
              Palavras-chaves:
              <span class="negrito"
                >Alimentos funcionais, alimentação escolar</span
              >
            </p>
          </div>

          <div>
            <p class="negrito">Autores:</p>
            <ul>
              <li>Galileo Galilei¹</li>
              <li>Berta Lange de Morretes²</li>
              <li>Isaac Newton³</li>
              <li>Cesar Lattes¹</li>
              <li>Stephen Hawking⁴</li>
            </ul>
          </div>

          <div>
            <ul>
              <li>¹Universidade Estadual de Campinas</li>
              <li>²Universidade de São Paulo</li>
              <li>³Instituto Nacional de Pesquisas Espaciais</li>
              <li>⁴Universidade Federal do Rio de Janeiro</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
