main {
  width: 80vw;
}

#trabalho {
  display: flex;

  & header {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--corTerciaria);

    padding: 0.5vh var(--paddingHorizontal);

    position: absolute;

    & > div:first-of-type {
      color: var(--corTextoCabecalho);

      & > p:nth-child(2) {
        font-size: 120%;
      }

      & > p:first-of-type,
      > p:nth-child(3) {
        font-size: 90%;
      }
    }

    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;

      color: var(--corInfoUsuario);

      font-family: var(--fonteSecundaria);
      font-weight: 500;

      & > div:first-of-type {
        text-align: end;

        & > p:nth-child(2) {
          font-size: 85%;
        }
      }

      & > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    & img {
      width: 2.5vw;

      border-radius: 50%;

      position: relative;
    }

    #quantidadeNotificacao {
      position: relative;

      right: 0.6vw;
      top: -1vw;

      text-align: center;
      font-size: 80%;
      font-weight: bold;

      background-color: var(--corNotificacao);
      color: white;

      width: 1rem;
      border-radius: 50%;
    }
  }

  & section:first-of-type {
    margin-top: 5vh;
    padding: var(--paddingHorizontal);

    display: flex;
    justify-content: space-between;
    gap: 2vw;
  }
}

#principalInfoEsquerda {
  width: 70%;

  & > h2 {
    font-size: 120%;

    margin-bottom: 3vh;
  }

  & > iframe {
    width: 100%;
    height: 50vh;
  }
}

#principalInfoDireita {
  width: 30%;

  & > p {
    text-align: center;
    font-weight: 500;

    margin: 1vh auto;
  }

  & > ul {
    gap: 0.5rem;
  }
}

.botao {
  cursor: pointer;

  background-color: var(--corPrincipal);

  padding: 0.7vh 1vw 3vh 1vw;
  border: none;
  border-radius: var(--bordaArredondada);

  color: white;
  box-shadow: 2px 2px 2px #ececec;

  font-weight: bold;

  height: 3vh;

  & svg {
    width: 20px;
    height: 20px;
  }

  &:not(#botaoDoi) {
    padding: 0.9vh 1vw 2.7vh 1vw;
  }

  &:hover {
    background-color: var(--corSecundaria);
  }
}

#botaoDownload {
  display: flex;
  gap: 0.5rem;
}

#detalhes,
#resumo,
#discussoes {
  border: 1px solid var(--corBorda);

  color: var(--corDetalhes);

  & > p {
    background-color: var(--corTerciaria);
    border-bottom: 1px solid var(--corBorda);
    padding: 1.2vh;

    font-size: 120%;
    font-weight: 500;
  }

  & > div {
    font-family: var(--fonteSecundaria);

    display: flex;
    flex-direction: column;
    gap: 2vh;

    padding: 1.2vh;
  }
}

#resumo {
  margin: 0 var(--paddingHorizontal);

  & button {
    cursor: pointer;

    background-color: transparent;
    color: var(--corPrincipal);

    border: none;

    font-weight: bold;

    padding-left: 0.3rem;
  }
}

#referencia {
  color: var(--corReferencia);
}

#discussoes {
  margin: 0 var(--paddingHorizontal);
}

#recepcionaDiscussao {
  & > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    & > ul {
      gap: 4rem;
    }

    & > p:last-of-type {
      width: 70%;
    }
  }
}

#enviaDiscussao > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  margin-bottom: 3vh;

  & > p:last-of-type {
    width: 70%;

    margin: auto;
  }
}

#resumo,
#discussoes {
  margin-bottom: 3vh;
}

.btn-create-topic {
  cursor: pointer;

  gap: 0.3rem;

  background: linear-gradient(var(--corSecundaria), var(--corPrincipal));
  border: none;
  border-radius: var(--bordaArredondada);

  color: white;
  box-shadow: 2px 2px 2px #ececec;

  font-weight: bold;

  padding: 0.5vh 0.7vw;
  margin: auto;

  &:hover {
    opacity: 0.8;
  }
}

.answered-topic,
#aguardandoFeedbackDiscussao {
  box-shadow: 0 0 10px var(--corSombra);

  margin-top: 2vh;
  padding: 2vh;

  border-radius: var(--bordaArredondada);

  & > p:nth-child(2) {
    font-size: 80%;

    margin-top: 0.5vh;
    margin-bottom: 1vh;
  }

  & > p:nth-child(3) {
    font-size: 90%;

    color: var(--corTexto);
  }

  & .botao {
    padding: 0.2vh 0.6vw !important;
  }

  & > div > i:first-of-type {
    cursor: pointer;
  }

  & > div:last-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 1vh;

    & > p {
      color: var(--corReferencia);
    }
  }
}

#aguardandoFeedbackDiscussao {
  margin: 0;

  & > * {
    filter: blur(2px);
  }
}

#aguardandoFeedbackMensagem {
  margin: auto;
  margin-top: -12vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1vh;

  & > button {
    cursor: pointer;

    background: none transparent;
    border: none;

    text-decoration: underline;
  }
}

hr {
  width: 90%;

  margin: auto;

  border: 0;
  border-top: 1px solid var(--corBorda);
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 3vw;

  padding: 2vh var(--paddingHorizontal);

  color: var(--corDetalhes);

  & > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
  }
}

#galoaLogo {
  width: 30vw;

  & a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #71478e;
    color: white;

    border-radius: var(--bordaArredondada);

    font-family: var(--fonteSecundaria);
    font-weight: 500;
    text-decoration: none;

    padding: 0.5vh;

    &:hover {
      opacity: 0.8;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  & textarea {
    resize: none;
  }

  & div:last-of-type {
    display: flex;
    justify-content: flex-end;

    background-color: #eaf1f2;

    border: 1px solid var(--corBorda);
    border-radius: 0 0 var(--bordaArredondada) var(--bordaArredondada);
  }
}

#discussaoAssunto,
#discussaoConteudo {
  border-radius: var(--bordaArredondada);
  border: 1px solid var(--corBorda);

  outline: none;

  margin-top: 0.5vh;

  padding: 1vw;
}

#discussaoAssunto {
  border-radius: var(--bordaArredondada);

  margin-bottom: 2vh;
}

#discussaoConteudo {
  border-radius: var(--bordaArredondada) var(--bordaArredondada) 0 0;
}

#botaoEnviar {
  border-radius: 0 0 var(--bordaArredondada) 0;
}
