main {
  width: 80vw;
}

#trabalho {
  display: flex;

  & header {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--corTerciaria);

    padding: 0.5vh var(--paddingHorizontal);

    position: absolute;

    & > div:first-of-type {
      color: var(--corTextoCabecalho);

      & > p:nth-child(2) {
        font-size: 120%;
      }

      & > p:first-of-type,
      > p:nth-child(3) {
        font-size: 90%;
      }
    }

    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;

      color: var(--corInfoUsuario);

      font-family: var(--fonteSecundaria);
      font-weight: 500;

      & > div:first-of-type {
        text-align: end;

        & > p:nth-child(2) {
          font-size: 85%;
        }
      }

      & > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    & img {
      width: 2.5vw;

      border-radius: 50%;

      position: relative;
    }

    #quantidadeNotificacao {
      position: relative;

      right: 0.6vw;
      top: -1vw;

      text-align: center;
      font-size: 80%;
      font-weight: bold;

      background-color: var(--corNotificacao);
      color: white;

      width: 1rem;
      border-radius: 50%;
    }
  }

  & section:first-of-type {
    margin-top: 5vh;
    padding: var(--paddingHorizontal);

    display: flex;
    justify-content: space-between;
    gap: 2vw;
  }
}

#principalInfoEsquerda {
  width: 70%;

  & > h2 {
    font-size: 120%;

    margin-bottom: 3vh;
  }

  & > iframe {
    width: 100%;
    height: 50vh;
  }
}

#principalInfoDireita {
  width: 30%;

  & > p {
    text-align: center;
    font-weight: 500;

    margin: 1vh auto;
  }

  & > ul {
    gap: 0.5rem;
  }
}

.botao {
  cursor: pointer;

  background-color: var(--corPrincipal);

  padding: 0.7vh 1vw 3vh 1vw;
  border: none;
  border-radius: 0.3rem;

  color: white;
  box-shadow: 2px 2px 2px #ececec;

  font-weight: bold;

  height: 3vh;

  & svg {
    width: 20px;
    height: 20px;
  }

  &:not(#botaoDoi) {
    padding: 0.9vh 1vw 2.7vh 1vw;
  }

  &:hover {
    background-color: var(--corSecundaria);
  }
}

#botaoDownload {
  display: flex;
  gap: 0.5rem;
}

#detalhes,
#resumo,
#discussoes {
  border: 1px solid var(--corBorda);

  color: var(--corDetalhes);

  & > p {
    background-color: var(--corTerciaria);
    border-bottom: 1px solid var(--corBorda);
    padding: 1.2vh;

    font-size: 120%;
    font-weight: 500;
  }

  & > div {
    font-family: var(--fonteSecundaria);

    display: flex;
    flex-direction: column;
    gap: 2vh;

    padding: 1.2vh;
  }
}

#resumo {
  margin: 0 var(--paddingHorizontal);

  & button {
    cursor: pointer;

    background-color: transparent;
    color: var(--corPrincipal);

    border: none;

    font-weight: bold;

    padding-left: 0.3rem;
  }
}

#referencia {
  color: var(--corReferencia);
}

#discussoes {
  margin: 0 var(--paddingHorizontal);
}
