<aside id="menuLateral">
  <div>
    <h1>SLACA 2019</h1>
  </div>

  <img src="./assets/image/logoSlaca.png" alt="Logo Slaca" />

  <nav>
    <ul>
      <li class="itemDesativado"><a href="">Apresentação</a></li>
      <li class="itemDesativado"><a href="">Comitês</a></li>
      <li class="itemDesativado"><a href="">Autores</a></li>
      <li class="itemDesativado"><a href="">Eixos temáticos</a></li>
      <li class="itemAtivado"><a href="">Trabalhos</a></li>
      <li class="itemDesativado"><a href="">Contato</a></li>
    </ul>
  </nav>
</aside>
