// IMPORTANDO FONTES
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

// RESETANDO CSS
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

// ESTILIZANDO O CSS GLOBAL
:root {
  --fontePrincipal: "Roboto", sans-serif;
  --fonteSecundaria: "Quicksand", sans-serif;

  --corPrincipal: #ee7b3b;
  --corSecundaria: #ffb153;
  --corTerciaria: #fdf1eb;

  --CorTextoCabecalho: #725c5c;
  --corTituloSessao: #4e4e4e;
  --corTexto: #4d4d4d;
  --corReferencia: #ada0a0;
  --corAutor: #5c5c5c;

  --corBorda: #e7e7e7;
  --corSombra: #c3c3c3;
}

body {
  font-family: var(--fontePrincipal);
}

.fonteSecundaria {
  font-family: var(--fonteSecundaria);
}
